/******************************************************************************/
/* Color Palette                                                              */
/******************************************************************************/
  .dark-color { /* grey darken-4 */
    background-color: #212121!important;
  }

  .base-color { /* grey */
    background-color: #9E9E9E!important;
  }

  .light-color { /* light-color */
    background-color: #FAFAFA!important;
  }

  .accent-color { /* amber */
    background-color: #FFC107!important;
  }

  .base-text { /* grey darken-4 */
    color: #212121!important;
  }

  .secondary-text { /* grey lighten-2 */
    color: #616161!important;
  }

  .light-text { /* light-color */
    color: #FAFAFA!important;
  }

  .accent-text { /* amber */
    color: #FFC107!important;
  }

  .divider-color { /* grey lighten-2 */
    border-color: #616161!important;
  }

/******************************************************************************/
/* Main layout configuration: html, body, header, main, footer                */
/******************************************************************************/
  html, body {
    font-size: 15px;
    min-width: 320px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
  }

  main {
    flex: 1 0 auto;
  }

/******************************************************************************/
/* Pre loader configuration                                                   */
/******************************************************************************/
  /* Animation effects */
    /* Fade Effect */
      @-webkit-keyframes fade {
          0% { opacity: 1; }
         90% { opacity: 0; }
        100% { opacity: 0;
               display: none;
               height: 0;
               width: 0; }
      }

      @keyframes fade {
          0% { opacity: 1; }
         90% { opacity: 0; }
        100% { opacity: 0;
               display: none;
               height: 0;
               width: 0;
               z-index: -1; }
      }

    /* Spin effect */
      @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(  0deg);
                  -moz-transform: rotate(  0deg);
                   -ms-transform: rotate(  0deg);
                    -o-transform: rotate(  0deg);
                       transform: rotate(  0deg); }
        100% { -webkit-transform: rotate(360deg);
                  -moz-transform: rotate(360deg);
                   -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                       transform: rotate(360deg); }
      }

      @keyframes spin {
          0% { -webkit-transform: rotate(  0deg);
                  -moz-transform: rotate(  0deg);
                   -ms-transform: rotate(  0deg);
                    -o-transform: rotate(  0deg);
                       transform: rotate(  0deg); }
        100% { -webkit-transform: rotate(360deg);
                  -moz-transform: rotate(360deg);
                   -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                       transform: rotate(360deg); }
      }

    /* growth to cover all the page */
      @-webkit-keyframes growth {
        100% { height: 5000px;
               width: 5000px; }
      }

      @keyframes growth {
        100% { height: 5000px;
               width: 5000px; }
      }

    /* Stop animation in final state */
      .stop-animation{
        -webkit-animation-fill-mode: forwards!important;
           -moz-animation-fill-mode: forwards!important;
            -ms-animation-fill-mode: forwards!important;
             -o-animation-fill-mode: forwards!important;
                animation-fill-mode: forwards!important;
      }

    /* Layout configuration */
      body{
        overflow: hidden;
      }

      body.loaded{
        overflow: auto;
      }

      .page-preloader{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10000;
        overflow: hidden;
        pointer-events: none;
        background-size: cover;
        background-color: #FAFAFA;
        background-position: center;
        background-repeat: no-repeat;
      }

      .page-preloader.loaded{
        -webkit-animation: fade 0.45s linear 0.35s;
           -moz-animation: fade 0.45s linear 0.35s;
            -ms-animation: fade 0.45s linear 0.35s;
             -o-animation: fade 0.45s linear 0.35s;
                animation: fade 0.45s linear 0.35s;
      }

      .page-preloader .spining-button{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 150px;
        width: 150px;
        padding: 25px;
        border-radius: 50%;
        background-color: #FFFFFF;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }

      .page-preloader.loaded .spining-button{
        -webkit-animation: growth 1s ease-in-out;
           -moz-animation: growth 1s ease-in-out;
            -ms-animation: growth 1s ease-in-out;
             -o-animation: growth 1s ease-in-out;
                animation: growth 1s ease-in-out;
      }

      .page-preloader .spining-button i{
        display: block;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation: spin 3s ease-in-out infinite;
           -moz-animation: spin 3s ease-in-out infinite;
            -ms-animation: spin 3s ease-in-out infinite;
             -o-animation: spin 3s ease-in-out infinite;
                animation: spin 3s ease-in-out infinite;
        -webkit-transition: opacity 0.15s linear;
           -moz-transition: opacity 0.15s linear;
            -ms-transition: opacity 0.15s linear;
             -o-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
      }

      .page-preloader.loaded .spining-button i{
        opacity: 0;
      }

/******************************************************************************/
/* Navigation bar styles                                                      */
/******************************************************************************/
  /* Layout for fixed navbar */
    @media only screen and (min-width: 993px){
      body > header,
      body > main,
      body > footer {
        padding-left: 240px;
      }

      /* wide contanier in big screens*/
      body > header > nav > .container,
      body > main > .container{
        width: 90%;
      }
    }

    .navbar-fixed nav{
      position: relative;
    }

    main{
      margin-top: 56px;
    }

    @media only screen and (min-width: 601px){
      main{
        margin-top: 64px;
      }
    }

  /* Keep brand logo left aligned */
    nav .brand-logo{
      left: auto;
      padding-left: 15px;
      display: inline-block;
      -webkit-transform: translateX(0);
         -moz-transform: translateX(0);
          -ms-transform: translateX(0);
           -o-transform: translateX(0);
              transform: translateX(0);
    }

  /* removing brand-logo padding in large screens */
    @media only screen and (min-width: 993px){
      nav .brand-logo{
        padding-left: 0;
      }
    }

  /* Formatting side-nav */
    ul.side-nav {
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    ul.side-nav *,
    ul.side-nav *:hover {
      -webkit-transition: all 0.15s linear;
         -moz-transition: all 0.15s linear;
          -ms-transition: all 0.15s linear;
           -o-transition: all 0.15s linear;
              transition: all 0.15s linear;
    }

    ul.side-nav:hover {
      overflow-y: auto;
    }

    ul.side-nav li{
      width: 100%;
    }

    ul.side-nav li:hover{
      background-color: transparent;
    }

    ul.side-nav li:nth-child(n+2) a{
      line-height: 3rem;
      height: 3rem;
    }

    ul.side-nav li a > *{
      line-height: inherit;
    }

  ul.table-of-contents > li:first-child a:hover{
    border-left: 0px none;
  }

  ul.table-of-contents > li:nth-child(n+2) {
    padding: 0;
  }

  ul.table-of-contents > li:nth-child(n+2) > a:hover {
    color: #FFC107;
    padding-left: 20px;
    border-left: 10px solid #FFC107;
  }

  ul.table-of-contents > li > a.active {
    color: #FFC107;
    padding-left: 20px;
    border-left: 10px solid #FFC107;
  }

/******************************************************************************/
/* Overriding and extesions                                                   */
/******************************************************************************/
  blockquote{
    border-left: 10px solid #FFC107; /* Amber */
    font-size: 1.25rem;
    font-weight: 300;
  }

  .waves-effect{
    cursor: initial;
  }

  .h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }

  .card .syntaxhighlighter{
    margin: 0!important;
  }

  .card .card-action a{
    color: #FFC107;
    margin-right: 0;
  }

  .card .card-action a:hover{
    background-color: #DDDDDD;
    color: #212121;
  }

  .card .card-action a:hover{
    background-color: #DDDDDD;
  }

  .card .card-action.caption{
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .card .card-action.caption a{
    text-transform: none;
    margin-right: 0;
  }

  .card .card-action.material{
    line-height: 36px;
  }
  code{
    font-size: 0.9rem;
  }
