/******************************************************************************/
/* Color Palette                                                              */
/******************************************************************************/
  .pdd-color--background-dark   { background-color: #212121!important; } /* grey darken-4 */
  .pdd-color--background-base   { background-color: #9E9E9E!important; } /* grey */
  .pdd-color--background-light  { background-color: #FAFAFA!important; } /* grey lighten-5 */
  .pdd-color--background-accent { background-color: #FFC107!important; } /* amber */
  .pdd-color--border-dark       {     border-color: #212121!important; } /* grey darken-4 */
  .pdd-color--border-base       {     border-color: #9E9E9E!important; } /* grey */
  .pdd-color--border-light      {     border-color: #FAFAFA!important; } /* grey lighten-5 */
  .pdd-color--border-accent     {     border-color: #FFC107!important; } /* amber */
  .pdd-color--text-dark         {            color: #212121!important; } /* grey darken-4 */
  .pdd-color--text-secondary    {            color: #616161!important; } /* grey */
  .pdd-color--text-light        {            color: #FAFAFA!important; } /* grey lighten-5 */
  .pdd-color--text-accent       {            color: #FFC107!important; } /* amber */

/******************************************************************************/
/* PDD-layout                                                                 */
/******************************************************************************/
  /* Preloader */
    body.pdd-with-preloader {
      height: 100%;
      width: 100%;
      overflow: hidden;
      -webkit-transition: height 0.5s linear;
         -moz-transition: height 0.5s linear;
           -o-transition: height 0.5s linear;
              transition: height 0.5s linear;
    }

    body.pdd-with-preloader.loaded {
      height: auto;
      overflow-y: auto;
    }

    body.pdd-with-preloader > #pdd-preloader {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      z-index: 10000;
    }

    #pdd-preloader .pdd-preloader--wrapper {
      position: relative;
      height: 100%;
      width: 100%;
    }

    #pdd-preloader .pdd-preloader--wrapper .pdd-preloader--plot {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    #pdd-preloader .pdd-preloader--wrapper .pdd-preloader--plot .pdd-preloader--plot-dot {
      position: absolute;
      height: 1px;
      width: 1px;
      background-color: rgba(255,   0,   0, 1);
      -webkit-animation: pdd-effect--rainbow 1.2s linear 0.0s infinite normal;
         -moz-animation: pdd-effect--rainbow 1.2s linear 0.0s infinite normal;
           -o-animation: pdd-effect--rainbow 1.2s linear 0.0s infinite normal;
              animation: pdd-effect--rainbow 1.2s linear 0.0s infinite normal;
    }

    @-webkit-keyframes pdd-effect--rainbow {
        0.00000000% { background-color: rgba(255,   0,   0, 1); }
       16.66666666% { background-color: rgba(255, 255,   0, 1); }
       33.33333333% { background-color: rgba(  0, 255,   0, 1); }
       50.00000000% { background-color: rgba(  0, 255, 255, 1); }
       66.66666666% { background-color: rgba(  0,   0, 255, 1); }
       83.33333333% { background-color: rgba(255,   0, 255, 1); }
      100.00000000% { background-color: rgba(255,   0,   0, 1); }
    }

    @-moz-keyframes pdd-effect--rainbow {
        0.00000000% { background-color: rgba(255,   0,   0, 1); }
       16.66666666% { background-color: rgba(255, 255,   0, 1); }
       33.33333333% { background-color: rgba(  0, 255,   0, 1); }
       50.00000000% { background-color: rgba(  0, 255, 255, 1); }
       66.66666666% { background-color: rgba(  0,   0, 255, 1); }
       83.33333333% { background-color: rgba(255,   0, 255, 1); }
      100.00000000% { background-color: rgba(255,   0,   0, 1); }
    }

    @-o-keyframes pdd-effect--rainbow {
        0.00000000% { background-color: rgba(255,   0,   0, 1); }
       16.66666666% { background-color: rgba(255, 255,   0, 1); }
       33.33333333% { background-color: rgba(  0, 255,   0, 1); }
       50.00000000% { background-color: rgba(  0, 255, 255, 1); }
       66.66666666% { background-color: rgba(  0,   0, 255, 1); }
       83.33333333% { background-color: rgba(255,   0, 255, 1); }
      100.00000000% { background-color: rgba(255,   0,   0, 1); }
    }

    @keyframes pdd-effect--rainbow {
        0.00000000% { background-color: rgba(255,   0,   0, 1); }
       16.66666666% { background-color: rgba(255, 255,   0, 1); }
       33.33333333% { background-color: rgba(  0, 255,   0, 1); }
       50.00000000% { background-color: rgba(  0, 255, 255, 1); }
       66.66666666% { background-color: rgba(  0,   0, 255, 1); }
       83.33333333% { background-color: rgba(255,   0, 255, 1); }
      100.00000000% { background-color: rgba(255,   0,   0, 1); }
    }

    body.pdd-with-preloader.pdd-loaded > #pdd-preloader {
      -webkit-animation: pdd-effect--fade 1s linear 1.5s 1 forwards running;
         -moz-animation: pdd-effect--fade 1s linear 1.5s 1 forwards running;
           -o-animation: pdd-effect--fade 1s linear 1.5s 1 forwards running;
              animation: pdd-effect--fade 1s linear 1.5s 1 forwards running;
    }

    body.pdd-with-preloader.pdd-loaded > #pdd-preloader .pdd-preloader--plot-dot {
      -webkit-transition: all 2s linear;
         -moz-transition: all 2s linear;
           -o-transition: all 2s linear;
              transition: all 2s linear;
    }

    @-webkit-keyframes pdd-effect--fade {
        0% { opacity: 1; top: 0; left: 0; bottom: 0; right: 0; }
       50% { opacity: 0; top: 0; left: 0; bottom: 0; right: 0; }
       75% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; }
      100% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; z-index: -1; }
    }

    @-moz-keyframes pdd-effect--fade {
        0% { opacity: 1; top: 0; left: 0; bottom: 0; right: 0; }
       50% { opacity: 0; top: 0; left: 0; bottom: 0; right: 0; }
       75% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; }
      100% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; z-index: -1; }
    }

    @-o-keyframes pdd-effect--fade {
        0% { opacity: 1; top: 0; left: 0; bottom: 0; right: 0; }
       50% { opacity: 0; top: 0; left: 0; bottom: 0; right: 0; }
       75% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; }
      100% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; z-index: -1; }
    }

    @keyframes pdd-effect--fade {
        0% { opacity: 1; top: 0; left: 0; bottom: 0; right: 0; }
       50% { opacity: 0; top: 0; left: 0; bottom: 0; right: 0; }
       75% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; }
      100% { opacity: 0; top: 50%; left: 50%; bottom: 50%; right: 50%; z-index: -1; }
    }

  /* Content */
    /* Fixed Side Navigation Bar */
      #pdd-side-nav {
        width: 70px;
        left: 0;
        position: fixed;
        overflow: -moz-scrollbars-none;
        -webkit-transition: width 0.5s ease-in-out;
           -moz-transition: width 0.5s ease-in-out;
             -o-transition: width 0.5s ease-in-out;
                transition: width 0.5s ease-in-out;
      }

      #pdd-side-nav::-webkit-scrollbar {
        display: none;
      }

      #pdd-side-nav ul.table-of-contents {
        margin: 0;
      }

      #pdd-side-nav ul.table-of-contents li,
      #pdd-side-nav ul.table-of-contents li:hover{
        padding: 0px;
        -webkit-transition: background-color 0.5s ease-in-out;
           -moz-transition: background-color 0.5s ease-in-out;
             -o-transition: background-color 0.5s ease-in-out;
                transition: background-color 0.5s ease-in-out;
      }

      #pdd-side-nav ul.table-of-contents li a{
        text-align: left;
        border: 0;
        background-color: transparent;
        -webkit-transition: background-color 0.5s ease-in-out;
           -moz-transition: background-color 0.5s ease-in-out;
             -o-transition: background-color 0.5s ease-in-out;
                transition: background-color 0.5s ease-in-out;
      }

      #pdd-side-nav ul.table-of-contents li a:hover .pdd-side-nav--link-icon .fa,
      #pdd-side-nav ul.table-of-contents li a.active .pdd-side-nav--link-icon .fa{
        color: #FFC107;
        border: 0;
        background-color: transparent;
        -webkit-transition: color 0.5s ease-in-out;
           -moz-transition: color 0.5s ease-in-out;
             -o-transition: color 0.5s ease-in-out;
                transition: color 0.5s ease-in-out;
      }

      #pdd-side-nav ul.table-of-contents li a:hover .pdd-side-nav--link-icon .fa:not(.fa-circle),
      #pdd-side-nav ul.table-of-contents li a.active .pdd-side-nav--link-icon .fa:not(.fa-circle) {
        color: #FFFFFF;
      }

      #pdd-side-nav .pdd-side-nav--link-icon {
        display: inline-block;
        vertical-align: middle;
      }

      #pdd-side-nav .pdd-side-nav--link-text {
        display: inline-block;
        vertical-align: middle;
        width: 0px;
        overflow: hidden;
        -webkit-transition: width 0.25s ease-in-out;
           -moz-transition: width 0.25s ease-in-out;
             -o-transition: width 0.25s ease-in-out;
                transition: width 0.25s ease-in-out;
      }

      @media only screen and (min-width: 993px) {
        #pdd-side-nav {
          width: 240px;
          left: 0;
          position: fixed;
        }

        #pdd-side-nav ul li {
          padding: 0 15px 0 0;
          text-align: left;
        }

        #pdd-side-nav ul li:not(.pdd-side-nav--brand-logo):hover
        #pdd-side-nav ul li:not(.pdd-side-nav--brand-logo).active {
          border-left: 15px solid #FFC107;
          text-align: left;
          -webkit-transition: padding 0.25s ease-in-out, border-left 0.25s ease-in-out;
             -moz-transition: padding 0.25s ease-in-out, border-left 0.25s ease-in-out;
               -o-transition: padding 0.25s ease-in-out, border-left 0.25s ease-in-out;
                  transition: padding 0.25s ease-in-out, border-left 0.25s ease-in-out;
        }

        #pdd-side-nav .pdd-side-nav--link-text {
          width: 100px;
        }
      }

/*
      #pdd-side-nav .pdd-side-nav--link {
        display: block;
        padding-left: 0;
        border-left: 0 solid #FFC107;
        -webkit-transition: border .25s ease-in-out, font-weight .25s ease-in-out;
           -moz-transition: border .25s ease-in-out, font-weight .25s ease-in-out;
             -o-transition: border .25s ease-in-out, font-weight .25s ease-in-out;
                transition: border .25s ease-in-out, font-weight .25s ease-in-out;
      }

      #pdd-side-nav .pdd-side-nav--link:hover,
      #pdd-side-nav .pdd-side-nav--link.active {
        border-left: 15px solid #FFC107;
      }

      #pdd-side-nav .pdd-side-nav--link:hover > *,
      #pdd-side-nav .pdd-side-nav--link.active > * {
        color: #FFC107;
        font-weight: 600;
      }

      #pdd-side-nav .pdd-side-nav--link a {
        line-height: 64px;
        font-size: 15px;
      }

      #pdd-side-nav .pdd-side-nav--link-icon {
        display: block;
        float: left;
        font-size: 15px;
        line-height: 30px;
        height: 64px;
        width: 30px;
        padding: 16px 0;
      }

      #pdd-side-nav .pdd-side-nav--link-text {
        display: block;
        float: left;
        font-size: 15px;
        padding-left: 5px;
      }

      #pdd-side-nav .pdd-side-nav--link-icon > * {
        line-height: inherit;
      }

      #pdd-side-nav ul li.pdd-side-nav--brand-logo {
        height: 240px;
      }

      @media only screen and (max-width : 992px) {
        #pdd-side-nav {
          padding-left: 0;
        }
      }

      #pdd-content {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        padding-left: 240px;
      }

      #pdd-content main {
        flex: 1 0 auto;
      }

      @media only screen and (max-width : 992px) {
        #pdd-content {
          padding-left: 0;
        }
      }
    /* Header and Navigation bar */
      body.pdd-home header#pdd-header nav {
        padding-left: 15px;
      }

      body.pdd-home header#pdd-header {
      }

  /* Overrides and Extensions */
    .h1 {
      font-size: 4.2rem;
      line-height: 110%;
      margin: 2.1rem 0 1.68rem 0; }

    .h2 {
      font-size: 3.56rem;
      line-height: 110%;
      margin: 1.78rem 0 1.424rem 0; }

    .h3 {
      font-size: 2.92rem;
      line-height: 110%;
      margin: 1.46rem 0 1.168rem 0; }

    .h4 {
      font-size: 2.28rem;
      line-height: 110%;
      margin: 1.14rem 0 0.912rem 0; }

    .h5 {
      font-size: 1.64rem;
      line-height: 110%;
      margin: 0.82rem 0 0.656rem 0; }

    .h6 {
      font-size: 1rem;
      line-height: 110%;
      margin: 0.5rem 0 0.4rem 0; }

    .no-margin {
      margin: 0;
    }
